@charset "UTF-8";

body { 
    background-color: rgb(205, 241, 205);
    font-family: Arial, Helvetica, sans-serif;
}

h1 { 
    color: rgb(36, 83, 34); 
}

h1#principal {
    text-align: center;
    background-color: rgb(42, 58, 42);
    color: white

}

h2 {
    color: rgb(51, 77, 49)
}

.basico{
    color: rgb(14, 100, 21);
    font-weight: bold;
}

.intermediario{
    color: rgb(104, 104, 22);
}

.avancado{
    color: brown;
}

.destaque{
    background-color: rgba(187, 187, 86, 0.274);
}