@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: android;
    src: url('fontes/idroid.otf'), format('opentype');
    font-weight: normal;
}

:root {
    --cor1: #434933;
    --cor2: #667247;
    --cor3: #869C47;
    --cor4: #70901F;
    --cor5: #A1C73A;

    --font-padrao: 'Bebas Neue', 'cursive';
    --font-android: 'android', 'cursive';
    --font-destaque: arial, verdana, helvetica, sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: rgba(141, 211, 50, 0.397);
    text-align: justify;
    font-family: var(--font-destaque);
}

header {
    background-image: linear-gradient(to bottom, var(--cor5), var(--cor3));
    padding: 40px;
    margin: auto;
}

header h1 {
    font-family: var(--font-padrao);
    text-align: center;
    font-size: 3em;
    color: white;
    text-shadow: 3px 3px 3px var(--cor1);
    font-weight: normal;
}

header p {
    color: white;
    text-align: center;
    font-weight: bold;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.507);
    padding: 20px;
    margin: auto;
    font-size: 1.1em;
    max-width: 600px;
}

nav {
    background-color: var(--cor3);
    text-align: center;
    padding: 20px;
}

nav > a {
    padding: 12px;
    color: var(--cor5);
    text-decoration: none;
    font-weight: bold;
    padding-bottom: 5px;
    padding-top: 5px;
}

nav > a:hover {
    background-color: var(--cor5);
    color: var(--cor1);
    border-radius: 20px;
    padding: 10px;
    transition-duration: .5s;
    
}

main {
    background-color: #ffffff;
    margin: auto;
    min-width: 300px;
    max-width: 1000px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 10px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.493);
}

main img {
    width: 100%;
}

main h1 {
    font-family: var(--font-android);
    padding: 10px;
    color: var(--cor3);
    font-size: 1.6em;
    font-weight: normal;
}

main h2 {
    font-family: var(--font-android);
    font-weight: normal;
    color: var(--cor1);
    text-indent: 20px;
    background-image: linear-gradient(to right, var(--cor3), transparent);
}

main p {
    text-indent: 30px;
    line-height: 2em;
    padding: 15px 0px;
    text-align: justify;
}

main strong {
    color: var(--cor4);
}

main a {
    text-decoration: none;
    background-color: var(--cor3);
    padding: 3px;
    color: white;
}

main a:hover {
    color: var(--cor2);
    transition-duration: .3s;
}

aside {
    background-color: rgba(97, 146, 34, 0.733);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.356);
    padding: 10px;
}

aside h3 {
    background-color: var(--cor2);
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: white;
    margin: -10px -10px 0px -10px;
}

aside > ul {
    columns: 2;
    list-style-position: inside;
}